asgiref==3.9.0
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dnspython==2.8.0
Flask==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.8.2
MarkupSafe==3.0.2
packaging==25.0
pymongo==4.16.0
pyotp==2.9.0
python-dotenv==1.2.1
readerwriterlock==1.0.9
redis==7.1.0
requests==2.31.0
soupsieve==2.8.3
tls-client==1.0.1
typing_extensions==4.15.0
urllib3==2.5.0
websockets==16.0
Werkzeug==3.1.3
